{

    "API_BASE_URL" : "https://apigw.it.umich.edu/um",
    "API_CLIENT_ID" : "",
    "API_CLIENT_SECRET" : "",
    "API_SCOPE_PREFIX" : "aa/CanvasReadOnly",
    "API_SUBSCRIPTION_NAME" : "canvasreadonly",
    "MAX_REQ_ATTEMPTS" : 3
}

